#map {
  height: 400px;
  width: 100%;
}

#container {
  margin: 20px auto;
  width: 95%;
  font-size: 0.8em;
}

.main-title {
  text-align: center;
}

#travel-panel,
#destination-input {
  margin: 10px;
  font-size: 0.8em;
}

@media (min-width: 600px) {
  #container {
    margin: 50px auto;
    width: 80%;
    font-size: 1em;
  }

  #travel-panel,
  #destination-input {
    font-size: 1em;
  }
}

@media (min-width: 1200px) {
  #container {
    max-width: 1200px;
  }
}